/* fonts */
@font-face {
    font-family: "Livvic";
    src: url("../fonts/Livvic-MediumItalic.woff2") format("woff2"),
    url("../fonts/Livvic-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Livvic";
    src: url("../fonts/Livvic-BoldItalic.woff2") format("woff2"),
    url("../fonts/Livvic-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Livvic";
    src: url("../fonts/Livvic-Bold.woff2") format("woff2"),
    url("../fonts/Livvic-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url("../fonts/Livvic-SemiBold.woff2") format("woff2"),
    url("../fonts/Livvic-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url("../fonts/Livvic-Regular.woff2") format("woff2"),
    url("../fonts/Livvic-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* custom-props */
:root{
    --white-text:#fff;
    --red-text:#F67E7E;
    --blue-text:#79C8C7;
    --dark-text:#012F34;
}

/* global */
*{box-sizing: border-box;}

html {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Livvic','Arial',"sans-serif";
    color:#fff;
    background-color:#eee;
    flex-wrap: nowrap;
}
img{
    height:auto;
    max-width: 100%;   
}
*:focus{
    outline: 3px dashed skyblue;
    outline-offset: 3px;
}
.container{
    max-width: 1170px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-main{
    flex-grow:1;
}


/* site-header */

.wrapper {
    background-color: #014E56;
    background-image: url(../img/right-main-img.svg),
    url(../img/left-main-img.svg);
    background-position: calc(50% + 376px) 600px,
    calc(50% - 718px) 250px;
    background-repeat: no-repeat;
}
.site-header {
    padding-top: 73px;
    padding-bottom: 73px;
}
.site-header__wrapper {
    display: flex;
    align-items: center;
    
}
.site__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color:var(--white-text);
}
.site__link:hover{
    color: var(--red-text);
}
.site__logo {
    flex-shrink: 0;
    width: 159px;
    height: 40px;
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.site__item:not(:last-child) {
    margin-right: 40px;
}
.registration {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color:var(--white-text);
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 9px 33px 11px 32px;
    transition:0.3s background-color ease,
    0.3s color ease;
    display: inline-block;
}
.registration:hover{
    background-color: var(--white-text);
    color:#002529;
}
.site__nav{
    margin-right: auto;
}

/* site-hero */

.site-hero {
    padding-top: 56px;
    padding-bottom: 250px;
}
.site-hero__wrapper {
    display: flex;
    justify-content: space-between;
}
.site-hero__theme {
    max-width: 635px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color:var(--white-text);
    margin: 0;
}
.red-text {
    color: var(--red-text);
}
.site-hero__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    max-width: 445px;
    margin: 0;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    
}
.blue-line{
    display: inline-block;
    border: 2px solid #79C8C7;
    width:50px;
    margin: 0;
    padding: 0;
    margin-bottom: 47px;
    background-color:#79C8C7;
}

/* site-main */

.site-main {
    padding-top: 140px;
    background-color:#012F34;
    background-image: url(../img/blue-circle.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 710px) 438px;
}
.site-main__wrapper {
    display: flex;
    flex-direction: column;
}
.features {
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
}
.features__left-wrapper {
    max-width: 445px;
}
.features__red-line {
    display: inline-block;
    border: 2px solid #F67E7E;
    width:50px;
    margin: 0;
    padding: 0;
    margin-bottom: 47px;
    background-color:#F67E7E;
}
.features__left-wrapper-theme {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    margin: 0;
}
.features__right-wrapper {
    display: flex;
    flex-direction: column;
}
.features__list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.features__item:not(:last-child){
    margin-bottom: 32px;
}
.features__content {
    display: flex;
    margin-top:54px;
    
}
.blue-circle {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    display: inline-block;
    background-color: #2C6269;
    position: relative;
}
.features__right-content-wrapper {
    max-width: 540px;
    margin-left: 23px;
    margin-top:-13px;
}
.red-theme-content {
    color:var(--red-text);
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}
.white-theme-content {
    margin: 0;
    opacity: 0.8;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--white-text);
    max-width: 445px;
}
.features__icon{
    position: absolute;
    right: 21px;
    bottom: 15px;
}

/* about-company-section */

.about-company {
    background-color: #004047;
    padding-top: 140px;
    padding-bottom: 140px;
}
.about-company__theme-wrapper{
    max-width: 932px;
    margin-bottom: 92px;
    margin-left: auto;
    margin-right: auto;
}
.about-company__theme {
    margin: 0;
    padding: 0;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color:var(--white-text);
}
.about-company__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.about-company__item {
    max-width: 350px;
}
.quote-icon{
    position: absolute;
    right: calc(50% + 345px);
    top: 1700px;
    z-index: 5;
}
.middle{
    position: absolute;
    right: calc(50% - 33px);
}
.last{
    position: absolute;
    right: calc(50% - 415px);
}
.about-company__item-wrapper {
    display: flex;
    flex-direction: column;
}
.about-company__item-text {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--white-text);
    margin-bottom: 24px;
    z-index: 10;
}
.about-company__worker {
    margin: 0;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}
.about-company__worker-job {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color:var(--white-text);
    margin-bottom: 32px;
}
.about-company__worker-image {
    width: 62px;
    height: 62px;
    border-radius: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* registration-part */

.registration-part {
    background-color: #F67E7E;
    padding-top: 76px;
    padding-bottom: 76px;
    background-image: url(../img/red-circle.svg);
    background-repeat: no-repeat;
    background-position:calc(50% - 620px) 61px;
}
.registration-part__wrapper {
    display: flex;
    align-items: center;
    
}
.registration-part__theme {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--dark-text);
    margin-right: 260px;
    margin-left: 97px;
}
.black {
    border: 3px solid #012F34;
    color: var(--dark-text);
    background-color:transparent;
    transition:0.3s background-color ease,
    0.3s color ease;
}
.black:hover{
    background-color: var(--dark-text);
    color: var(--white-text);
}

/* site-footer */

.site-footer {
    background-color: #002529;
    padding-top: 48px;
    padding-bottom: 48px;
}
.site-footer__wrapper {
    display: flex;
    
}
.site-footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 46px;
}
.site__logo {
    flex-shrink: 0;
}

.site__list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}
.site__item:not(:last-child) {
    margin-right: 40px;
}
.site__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color:var(--white-text);
}
.site__link:hover{
    color: var(--red-text);
}
.address {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.address__item {
    opacity: 0.6;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--white-text);
}
.address__location:not(:last-child){
    margin-bottom: 3px;
}
.socials__icons {
    display: flex;
    flex-direction: column;
}
.socials__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 51px;
    justify-content: flex-end;
}
.socials__item:not(:last-child) {
    margin-right: 16px;
}
.rights {
    opacity: 0.6;
}
.socials__link{
    color: var(--white-text);
}
.socials__link:hover{
    color: var(--red-text);
}


/* ABOUT */

/* site-hero */
.about__wrapper {
    background-color: #014E56;
    background-image: url(../img/about--hero__img.svg);
    background-repeat:no-repeat;
    background-position:calc(50% + 718px) 317px;
}
/* Hero */

.about-hero {
    margin-top: 50px;
    margin-bottom: 120px;
}
.about-hero__wrapper {
    display: flex;
    justify-content: space-between;
}
.about-hero__theme {
    margin: 0;
    font-weight: 700;
font-size: 64px;
line-height: 100px;
}
.about__content-wrapper {
    width: 100%;
    max-width: 730px;
    margin-top: -18px;
}
.about__red-line {
    display: inline-block;
    border: 2px solid #f67e7e;
    width:50px;
    margin: 0;
    padding: 0;
    margin-bottom: 47px;
    background-color:var(--red-text);
}
.about-hero__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color:var(--white-text);
    margin: 0;
}

/* site-main */
.none{
    display: none !important;
}
.block{
    display: block;
}
.about__site-main {
    background-color: #004047;
}
.dark-image{
    position: absolute;
    right: calc(50% + 620px);
}
.dark-photo{
    position: absolute;
    right: calc(50% - 720px);
    top: 1410px;
}
.about__site-main-content {
    padding-top: 140px;
    padding-bottom: 64px;
}
.directors{
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: var(--white-text);
    margin: 0;
    margin-bottom: 64px;
}
.about__site-main-card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.about__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 340px;
    width: 100%;
    background-color:#012F34;
}
.about__item :nth-child(3n){
    margin-right: 0;
}
.about__item{
    margin-left: 30px;
    margin-bottom: 76px;
}
.about-avatar__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 48px 63px 48px;
}
.about__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.about__worker-name {
    font-weight: 700;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #79C8C7;
margin: 0;
}
.about__job {
    font-weight: 500;
font-size: 15px;
line-height: 25px;
text-align: center;
color: var(--white-text);
}
.about__img-wrapper {
    position: absolute;
    right: calc(50% - 25px);
    top: 230px;
    margin-right: auto;
    margin-left: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background-color: var(--red-text);
}
.about__plus {
    width: 16px;
    height: 16px;
}
.card-content__wrapper {
    padding: 35px 48px 63px 48px;
}
.first-name {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #79C8C7;
}
.card-content-text {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 600;
font-size: 15px;
line-height: 25px;
text-align: center;
color: var(--white-text);
}
.socials-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials-icons:not(:last-child){
    margin-right: 16px;
}
.about__remove-wrapper{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background-color: #79C8C7;
    position: absolute;
    right: calc(50% - 25px);
    top: 225px;
}

/* clients-section */

.clients__section {
    background-color: #012F34;
    padding-top: 140px;
    padding-bottom: 140px;
}
.clients__wrapper{
}
.clients__img {
    position: absolute;
    right: calc(50% + 520px);
    top: 1515px;
}
.companies {
    margin: 0;
    margin-bottom: 64px;
font-weight: 700;
font-size: 48px;
line-height: 48px;
text-align: center;
color:var(--white-text);
}
.companies__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* contact */
.contact{
    background-color: #014E56;
}

.contact__main {
    background-color: #014E56;
    padding-bottom: 140px;
    padding-top: 42px;
}
.contact__wrapper {
    display: flex;
    justify-content: space-between;
}
.contact__left__wrapper {
    display: flex;
    flex-direction: column;
}
.contact__theme {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
font-size: 64px;
line-height: 100px;
color:var(--white-text);
}
.asking {
    font-weight: 700;
font-size: 32px;
line-height: 48px;
color: var(--red-text);
}
.white{
    font-weight: 700;
font-size: 18px;
line-height: 28px;
color:var(--white-text);
}
.contact-img{
    position: absolute;
    right: calc(50% + 621px);
}

.contact__right-wrapper {
}
.contact__form {
    max-width: 540px;
    width: 100%;
}
.contact__input {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--white-text);
    padding: 24px 14px 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: var(--white);
    opacity: 0.6;
    cursor: pointer;
}
.contact__textarea {
    display: block;
    width: 540px;
    min-height: 108px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--white);
    padding: 24px 14px 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: var(--white);
    opacity: 0.6;
    resize: vertical;
    margin-bottom: 24px;
}
.contact__button {
    padding: 9px 32px 11px 32px;
font-weight: 600;
font-size: 18px;
line-height: 28px;
border: 2px solid var(--white-text);
border-radius: 24px;
}
.required{
    display: none;
}
.avatar:not(:focus):not(:placeholder-shown):invalid ~ .required{
    display: block;
    position: absolute;
    font-style: italic;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    color:var(--red-text);
    letter-spacing: 0.1px;
    color: #F46363;
    padding-top: 8px;
}
.contact-red-img{
    position: absolute;
    right: calc(50% - 822px);
    top: 564px;
}

/*for retina*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
}
